<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ltc.dao.CRM_report_goodsDataMapper">
  <resultMap id="BaseResultMap" type="com.ltc.bean.CRM_report_goodsData">
    <id column="customer_id" jdbcType="VARCHAR" property="customerId" />
    <id column="customer_order_type" jdbcType="CHAR" property="customerOrderType" />
    <id column="goods_day" jdbcType="DATE" property="goodsDay" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="goods_year" jdbcType="INTEGER" property="goodsYear" />
    <result column="goods_month" jdbcType="INTEGER" property="goodsMonth" />
    <result column="big_area" jdbcType="VARCHAR" property="bigArea" />
    <result column="big_area_name" jdbcType="VARCHAR" property="bigAreaName" />
    <result column="small_area" jdbcType="VARCHAR" property="smallArea" />
    <result column="small_area_name" jdbcType="VARCHAR" property="smallAreaName" />
    <result column="ticket_org_id" jdbcType="VARCHAR" property="ticketOrgId" />
    <result column="ticket_org_name" jdbcType="VARCHAR" property="ticketOrgName" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="last_station" jdbcType="VARCHAR" property="lastStation" />
    <result column="transfer_city" jdbcType="VARCHAR" property="transferCity" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="cust_type" jdbcType="VARCHAR" property="custType" />
    <result column="cust_grade" jdbcType="VARCHAR" property="custGrade" />
    <result column="count_order" jdbcType="INTEGER" property="countOrder" />
    <result column="count_number" jdbcType="INTEGER" property="countNumber" />
    <result column="goods_weight" jdbcType="DECIMAL" property="goodsWeight" />
    <result column="goods_cube" jdbcType="DECIMAL" property="goodsCube" />
    <result column="freight_total" jdbcType="DECIMAL" property="freightTotal" />
    <result column="sum_total" jdbcType="DECIMAL" property="sumTotal" />
    <result column="increment_fee" jdbcType="DECIMAL" property="incrementFee" />
    <result column="tibao_fee" jdbcType="DECIMAL" property="tibaoFee" />
    <result column="jiehuo_fee" jdbcType="DECIMAL" property="jiehuoFee" />
    <result column="songhuo_fee" jdbcType="DECIMAL" property="songhuoFee" />
    <result column="daishou_fee" jdbcType="DECIMAL" property="daishouFee" />
    <result column="daishoushouxu_fee" jdbcType="DECIMAL" property="daishoushouxuFee" />
    <result column="huidan_fee" jdbcType="DECIMAL" property="huidanFee" />
    <result column="xinxifuwu_fee" jdbcType="DECIMAL" property="xinxifuwuFee" />
    <result column="tongzhi_fee" jdbcType="DECIMAL" property="tongzhiFee" />
    <result column="gaidan_fee" jdbcType="DECIMAL" property="gaidanFee" />
    <result column="shanglou_fee" jdbcType="DECIMAL" property="shanglouFee" />
    <result column="yunfeichongjian_fee" jdbcType="DECIMAL" property="yunfeichongjianFee" />
    <result column="chache_fee" jdbcType="DECIMAL" property="chacheFee" />
    <result column="huikou_fee" jdbcType="DECIMAL" property="huikouFee" />
    <result column="zhongzhuan_fee" jdbcType="DECIMAL" property="zhongzhuanFee" />
    <result column="qita_fee" jdbcType="DECIMAL" property="qitaFee" />
    <result column="labao_fee" jdbcType="DECIMAL" property="labaoFee" />
    <result column="khdaishou_fee" jdbcType="DECIMAL" property="khdaishouFee" />
    <result column="fuwu_fee" jdbcType="DECIMAL" property="fuwuFee" />
    <result column="baojia_fee" jdbcType="DECIMAL" property="baojiaFee" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="op_user_id" jdbcType="VARCHAR" property="opUserId" />
    <result column="op_user_name" jdbcType="VARCHAR" property="opUserName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    customer_id, customer_order_type, goods_day, order_id, goods_year, goods_month, big_area, 
    big_area_name, small_area, small_area_name, ticket_org_id, ticket_org_name, customer_name, 
    goods_name, last_station, transfer_city, product_type, cust_type, cust_grade, count_order, 
    count_number, goods_weight, goods_cube, freight_total, sum_total, increment_fee, 
    tibao_fee, jiehuo_fee, songhuo_fee, daishou_fee, daishoushouxu_fee, huidan_fee, xinxifuwu_fee, 
    tongzhi_fee, gaidan_fee, shanglou_fee, yunfeichongjian_fee, chache_fee, huikou_fee, 
    zhongzhuan_fee, qita_fee, labao_fee, khdaishou_fee, fuwu_fee, baojia_fee, remark, 
    op_user_id, op_user_name, update_time, creator, creator_name, create_time
  </sql>
  <select id="selectByExample" parameterType="com.ltc.bean.CRM_report_goodsDataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from crm_report_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.ltc.bean.CRM_report_goodsDataKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from crm_report_goods
    where customer_id = #{customerId,jdbcType=VARCHAR}
      and customer_order_type = #{customerOrderType,jdbcType=CHAR}
      and goods_day = #{goodsDay,jdbcType=DATE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ltc.bean.CRM_report_goodsDataKey">
    delete from crm_report_goods
    where customer_id = #{customerId,jdbcType=VARCHAR}
      and customer_order_type = #{customerOrderType,jdbcType=CHAR}
      and goods_day = #{goodsDay,jdbcType=DATE}
  </delete>
  <delete id="deleteByExample" parameterType="com.ltc.bean.CRM_report_goodsDataExample">
    delete from crm_report_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ltc.bean.CRM_report_goodsData">
    insert into crm_report_goods (customer_id, customer_order_type, goods_day, 
      order_id, goods_year, goods_month, 
      big_area, big_area_name, small_area, 
      small_area_name, ticket_org_id, ticket_org_name, 
      customer_name, goods_name, last_station, 
      transfer_city, product_type, cust_type, 
      cust_grade, count_order, count_number, 
      goods_weight, goods_cube, freight_total, 
      sum_total, increment_fee, tibao_fee, 
      jiehuo_fee, songhuo_fee, daishou_fee, 
      daishoushouxu_fee, huidan_fee, xinxifuwu_fee, 
      tongzhi_fee, gaidan_fee, shanglou_fee, 
      yunfeichongjian_fee, chache_fee, huikou_fee, 
      zhongzhuan_fee, qita_fee, labao_fee, 
      khdaishou_fee, fuwu_fee, baojia_fee, 
      remark, op_user_id, op_user_name, 
      update_time, creator, creator_name, 
      create_time)
    values (#{customerId,jdbcType=VARCHAR}, #{customerOrderType,jdbcType=CHAR}, #{goodsDay,jdbcType=DATE}, 
      #{orderId,jdbcType=VARCHAR}, #{goodsYear,jdbcType=INTEGER}, #{goodsMonth,jdbcType=INTEGER}, 
      #{bigArea,jdbcType=VARCHAR}, #{bigAreaName,jdbcType=VARCHAR}, #{smallArea,jdbcType=VARCHAR}, 
      #{smallAreaName,jdbcType=VARCHAR}, #{ticketOrgId,jdbcType=VARCHAR}, #{ticketOrgName,jdbcType=VARCHAR}, 
      #{customerName,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, #{lastStation,jdbcType=VARCHAR}, 
      #{transferCity,jdbcType=VARCHAR}, #{productType,jdbcType=VARCHAR}, #{custType,jdbcType=VARCHAR}, 
      #{custGrade,jdbcType=VARCHAR}, #{countOrder,jdbcType=INTEGER}, #{countNumber,jdbcType=INTEGER}, 
      #{goodsWeight,jdbcType=DECIMAL}, #{goodsCube,jdbcType=DECIMAL}, #{freightTotal,jdbcType=DECIMAL}, 
      #{sumTotal,jdbcType=DECIMAL}, #{incrementFee,jdbcType=DECIMAL}, #{tibaoFee,jdbcType=DECIMAL}, 
      #{jiehuoFee,jdbcType=DECIMAL}, #{songhuoFee,jdbcType=DECIMAL}, #{daishouFee,jdbcType=DECIMAL}, 
      #{daishoushouxuFee,jdbcType=DECIMAL}, #{huidanFee,jdbcType=DECIMAL}, #{xinxifuwuFee,jdbcType=DECIMAL}, 
      #{tongzhiFee,jdbcType=DECIMAL}, #{gaidanFee,jdbcType=DECIMAL}, #{shanglouFee,jdbcType=DECIMAL}, 
      #{yunfeichongjianFee,jdbcType=DECIMAL}, #{chacheFee,jdbcType=DECIMAL}, #{huikouFee,jdbcType=DECIMAL}, 
      #{zhongzhuanFee,jdbcType=DECIMAL}, #{qitaFee,jdbcType=DECIMAL}, #{labaoFee,jdbcType=DECIMAL}, 
      #{khdaishouFee,jdbcType=DECIMAL}, #{fuwuFee,jdbcType=DECIMAL}, #{baojiaFee,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{opUserId,jdbcType=VARCHAR}, #{opUserName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ltc.bean.CRM_report_goodsData">
    insert into crm_report_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="customerOrderType != null">
        customer_order_type,
      </if>
      <if test="goodsDay != null">
        goods_day,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="goodsYear != null">
        goods_year,
      </if>
      <if test="goodsMonth != null">
        goods_month,
      </if>
      <if test="bigArea != null">
        big_area,
      </if>
      <if test="bigAreaName != null">
        big_area_name,
      </if>
      <if test="smallArea != null">
        small_area,
      </if>
      <if test="smallAreaName != null">
        small_area_name,
      </if>
      <if test="ticketOrgId != null">
        ticket_org_id,
      </if>
      <if test="ticketOrgName != null">
        ticket_org_name,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="lastStation != null">
        last_station,
      </if>
      <if test="transferCity != null">
        transfer_city,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="custType != null">
        cust_type,
      </if>
      <if test="custGrade != null">
        cust_grade,
      </if>
      <if test="countOrder != null">
        count_order,
      </if>
      <if test="countNumber != null">
        count_number,
      </if>
      <if test="goodsWeight != null">
        goods_weight,
      </if>
      <if test="goodsCube != null">
        goods_cube,
      </if>
      <if test="freightTotal != null">
        freight_total,
      </if>
      <if test="sumTotal != null">
        sum_total,
      </if>
      <if test="incrementFee != null">
        increment_fee,
      </if>
      <if test="tibaoFee != null">
        tibao_fee,
      </if>
      <if test="jiehuoFee != null">
        jiehuo_fee,
      </if>
      <if test="songhuoFee != null">
        songhuo_fee,
      </if>
      <if test="daishouFee != null">
        daishou_fee,
      </if>
      <if test="daishoushouxuFee != null">
        daishoushouxu_fee,
      </if>
      <if test="huidanFee != null">
        huidan_fee,
      </if>
      <if test="xinxifuwuFee != null">
        xinxifuwu_fee,
      </if>
      <if test="tongzhiFee != null">
        tongzhi_fee,
      </if>
      <if test="gaidanFee != null">
        gaidan_fee,
      </if>
      <if test="shanglouFee != null">
        shanglou_fee,
      </if>
      <if test="yunfeichongjianFee != null">
        yunfeichongjian_fee,
      </if>
      <if test="chacheFee != null">
        chache_fee,
      </if>
      <if test="huikouFee != null">
        huikou_fee,
      </if>
      <if test="zhongzhuanFee != null">
        zhongzhuan_fee,
      </if>
      <if test="qitaFee != null">
        qita_fee,
      </if>
      <if test="labaoFee != null">
        labao_fee,
      </if>
      <if test="khdaishouFee != null">
        khdaishou_fee,
      </if>
      <if test="fuwuFee != null">
        fuwu_fee,
      </if>
      <if test="baojiaFee != null">
        baojia_fee,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="opUserId != null">
        op_user_id,
      </if>
      <if test="opUserName != null">
        op_user_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="creatorName != null">
        creator_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="customerOrderType != null">
        #{customerOrderType,jdbcType=CHAR},
      </if>
      <if test="goodsDay != null">
        #{goodsDay,jdbcType=DATE},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="goodsYear != null">
        #{goodsYear,jdbcType=INTEGER},
      </if>
      <if test="goodsMonth != null">
        #{goodsMonth,jdbcType=INTEGER},
      </if>
      <if test="bigArea != null">
        #{bigArea,jdbcType=VARCHAR},
      </if>
      <if test="bigAreaName != null">
        #{bigAreaName,jdbcType=VARCHAR},
      </if>
      <if test="smallArea != null">
        #{smallArea,jdbcType=VARCHAR},
      </if>
      <if test="smallAreaName != null">
        #{smallAreaName,jdbcType=VARCHAR},
      </if>
      <if test="ticketOrgId != null">
        #{ticketOrgId,jdbcType=VARCHAR},
      </if>
      <if test="ticketOrgName != null">
        #{ticketOrgName,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="lastStation != null">
        #{lastStation,jdbcType=VARCHAR},
      </if>
      <if test="transferCity != null">
        #{transferCity,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="custType != null">
        #{custType,jdbcType=VARCHAR},
      </if>
      <if test="custGrade != null">
        #{custGrade,jdbcType=VARCHAR},
      </if>
      <if test="countOrder != null">
        #{countOrder,jdbcType=INTEGER},
      </if>
      <if test="countNumber != null">
        #{countNumber,jdbcType=INTEGER},
      </if>
      <if test="goodsWeight != null">
        #{goodsWeight,jdbcType=DECIMAL},
      </if>
      <if test="goodsCube != null">
        #{goodsCube,jdbcType=DECIMAL},
      </if>
      <if test="freightTotal != null">
        #{freightTotal,jdbcType=DECIMAL},
      </if>
      <if test="sumTotal != null">
        #{sumTotal,jdbcType=DECIMAL},
      </if>
      <if test="incrementFee != null">
        #{incrementFee,jdbcType=DECIMAL},
      </if>
      <if test="tibaoFee != null">
        #{tibaoFee,jdbcType=DECIMAL},
      </if>
      <if test="jiehuoFee != null">
        #{jiehuoFee,jdbcType=DECIMAL},
      </if>
      <if test="songhuoFee != null">
        #{songhuoFee,jdbcType=DECIMAL},
      </if>
      <if test="daishouFee != null">
        #{daishouFee,jdbcType=DECIMAL},
      </if>
      <if test="daishoushouxuFee != null">
        #{daishoushouxuFee,jdbcType=DECIMAL},
      </if>
      <if test="huidanFee != null">
        #{huidanFee,jdbcType=DECIMAL},
      </if>
      <if test="xinxifuwuFee != null">
        #{xinxifuwuFee,jdbcType=DECIMAL},
      </if>
      <if test="tongzhiFee != null">
        #{tongzhiFee,jdbcType=DECIMAL},
      </if>
      <if test="gaidanFee != null">
        #{gaidanFee,jdbcType=DECIMAL},
      </if>
      <if test="shanglouFee != null">
        #{shanglouFee,jdbcType=DECIMAL},
      </if>
      <if test="yunfeichongjianFee != null">
        #{yunfeichongjianFee,jdbcType=DECIMAL},
      </if>
      <if test="chacheFee != null">
        #{chacheFee,jdbcType=DECIMAL},
      </if>
      <if test="huikouFee != null">
        #{huikouFee,jdbcType=DECIMAL},
      </if>
      <if test="zhongzhuanFee != null">
        #{zhongzhuanFee,jdbcType=DECIMAL},
      </if>
      <if test="qitaFee != null">
        #{qitaFee,jdbcType=DECIMAL},
      </if>
      <if test="labaoFee != null">
        #{labaoFee,jdbcType=DECIMAL},
      </if>
      <if test="khdaishouFee != null">
        #{khdaishouFee,jdbcType=DECIMAL},
      </if>
      <if test="fuwuFee != null">
        #{fuwuFee,jdbcType=DECIMAL},
      </if>
      <if test="baojiaFee != null">
        #{baojiaFee,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="opUserId != null">
        #{opUserId,jdbcType=VARCHAR},
      </if>
      <if test="opUserName != null">
        #{opUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null">
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ltc.bean.CRM_report_goodsDataExample" resultType="java.lang.Long">
    select count(*) from crm_report_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update crm_report_goods
    <set>
      <if test="record.customerId != null">
        customer_id = #{record.customerId,jdbcType=VARCHAR},
      </if>
      <if test="record.customerOrderType != null">
        customer_order_type = #{record.customerOrderType,jdbcType=CHAR},
      </if>
      <if test="record.goodsDay != null">
        goods_day = #{record.goodsDay,jdbcType=DATE},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsYear != null">
        goods_year = #{record.goodsYear,jdbcType=INTEGER},
      </if>
      <if test="record.goodsMonth != null">
        goods_month = #{record.goodsMonth,jdbcType=INTEGER},
      </if>
      <if test="record.bigArea != null">
        big_area = #{record.bigArea,jdbcType=VARCHAR},
      </if>
      <if test="record.bigAreaName != null">
        big_area_name = #{record.bigAreaName,jdbcType=VARCHAR},
      </if>
      <if test="record.smallArea != null">
        small_area = #{record.smallArea,jdbcType=VARCHAR},
      </if>
      <if test="record.smallAreaName != null">
        small_area_name = #{record.smallAreaName,jdbcType=VARCHAR},
      </if>
      <if test="record.ticketOrgId != null">
        ticket_org_id = #{record.ticketOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.ticketOrgName != null">
        ticket_org_name = #{record.ticketOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.customerName != null">
        customer_name = #{record.customerName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsName != null">
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.lastStation != null">
        last_station = #{record.lastStation,jdbcType=VARCHAR},
      </if>
      <if test="record.transferCity != null">
        transfer_city = #{record.transferCity,jdbcType=VARCHAR},
      </if>
      <if test="record.productType != null">
        product_type = #{record.productType,jdbcType=VARCHAR},
      </if>
      <if test="record.custType != null">
        cust_type = #{record.custType,jdbcType=VARCHAR},
      </if>
      <if test="record.custGrade != null">
        cust_grade = #{record.custGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.countOrder != null">
        count_order = #{record.countOrder,jdbcType=INTEGER},
      </if>
      <if test="record.countNumber != null">
        count_number = #{record.countNumber,jdbcType=INTEGER},
      </if>
      <if test="record.goodsWeight != null">
        goods_weight = #{record.goodsWeight,jdbcType=DECIMAL},
      </if>
      <if test="record.goodsCube != null">
        goods_cube = #{record.goodsCube,jdbcType=DECIMAL},
      </if>
      <if test="record.freightTotal != null">
        freight_total = #{record.freightTotal,jdbcType=DECIMAL},
      </if>
      <if test="record.sumTotal != null">
        sum_total = #{record.sumTotal,jdbcType=DECIMAL},
      </if>
      <if test="record.incrementFee != null">
        increment_fee = #{record.incrementFee,jdbcType=DECIMAL},
      </if>
      <if test="record.tibaoFee != null">
        tibao_fee = #{record.tibaoFee,jdbcType=DECIMAL},
      </if>
      <if test="record.jiehuoFee != null">
        jiehuo_fee = #{record.jiehuoFee,jdbcType=DECIMAL},
      </if>
      <if test="record.songhuoFee != null">
        songhuo_fee = #{record.songhuoFee,jdbcType=DECIMAL},
      </if>
      <if test="record.daishouFee != null">
        daishou_fee = #{record.daishouFee,jdbcType=DECIMAL},
      </if>
      <if test="record.daishoushouxuFee != null">
        daishoushouxu_fee = #{record.daishoushouxuFee,jdbcType=DECIMAL},
      </if>
      <if test="record.huidanFee != null">
        huidan_fee = #{record.huidanFee,jdbcType=DECIMAL},
      </if>
      <if test="record.xinxifuwuFee != null">
        xinxifuwu_fee = #{record.xinxifuwuFee,jdbcType=DECIMAL},
      </if>
      <if test="record.tongzhiFee != null">
        tongzhi_fee = #{record.tongzhiFee,jdbcType=DECIMAL},
      </if>
      <if test="record.gaidanFee != null">
        gaidan_fee = #{record.gaidanFee,jdbcType=DECIMAL},
      </if>
      <if test="record.shanglouFee != null">
        shanglou_fee = #{record.shanglouFee,jdbcType=DECIMAL},
      </if>
      <if test="record.yunfeichongjianFee != null">
        yunfeichongjian_fee = #{record.yunfeichongjianFee,jdbcType=DECIMAL},
      </if>
      <if test="record.chacheFee != null">
        chache_fee = #{record.chacheFee,jdbcType=DECIMAL},
      </if>
      <if test="record.huikouFee != null">
        huikou_fee = #{record.huikouFee,jdbcType=DECIMAL},
      </if>
      <if test="record.zhongzhuanFee != null">
        zhongzhuan_fee = #{record.zhongzhuanFee,jdbcType=DECIMAL},
      </if>
      <if test="record.qitaFee != null">
        qita_fee = #{record.qitaFee,jdbcType=DECIMAL},
      </if>
      <if test="record.labaoFee != null">
        labao_fee = #{record.labaoFee,jdbcType=DECIMAL},
      </if>
      <if test="record.khdaishouFee != null">
        khdaishou_fee = #{record.khdaishouFee,jdbcType=DECIMAL},
      </if>
      <if test="record.fuwuFee != null">
        fuwu_fee = #{record.fuwuFee,jdbcType=DECIMAL},
      </if>
      <if test="record.baojiaFee != null">
        baojia_fee = #{record.baojiaFee,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.opUserId != null">
        op_user_id = #{record.opUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.opUserName != null">
        op_user_name = #{record.opUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorName != null">
        creator_name = #{record.creatorName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update crm_report_goods
    set customer_id = #{record.customerId,jdbcType=VARCHAR},
      customer_order_type = #{record.customerOrderType,jdbcType=CHAR},
      goods_day = #{record.goodsDay,jdbcType=DATE},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      goods_year = #{record.goodsYear,jdbcType=INTEGER},
      goods_month = #{record.goodsMonth,jdbcType=INTEGER},
      big_area = #{record.bigArea,jdbcType=VARCHAR},
      big_area_name = #{record.bigAreaName,jdbcType=VARCHAR},
      small_area = #{record.smallArea,jdbcType=VARCHAR},
      small_area_name = #{record.smallAreaName,jdbcType=VARCHAR},
      ticket_org_id = #{record.ticketOrgId,jdbcType=VARCHAR},
      ticket_org_name = #{record.ticketOrgName,jdbcType=VARCHAR},
      customer_name = #{record.customerName,jdbcType=VARCHAR},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      last_station = #{record.lastStation,jdbcType=VARCHAR},
      transfer_city = #{record.transferCity,jdbcType=VARCHAR},
      product_type = #{record.productType,jdbcType=VARCHAR},
      cust_type = #{record.custType,jdbcType=VARCHAR},
      cust_grade = #{record.custGrade,jdbcType=VARCHAR},
      count_order = #{record.countOrder,jdbcType=INTEGER},
      count_number = #{record.countNumber,jdbcType=INTEGER},
      goods_weight = #{record.goodsWeight,jdbcType=DECIMAL},
      goods_cube = #{record.goodsCube,jdbcType=DECIMAL},
      freight_total = #{record.freightTotal,jdbcType=DECIMAL},
      sum_total = #{record.sumTotal,jdbcType=DECIMAL},
      increment_fee = #{record.incrementFee,jdbcType=DECIMAL},
      tibao_fee = #{record.tibaoFee,jdbcType=DECIMAL},
      jiehuo_fee = #{record.jiehuoFee,jdbcType=DECIMAL},
      songhuo_fee = #{record.songhuoFee,jdbcType=DECIMAL},
      daishou_fee = #{record.daishouFee,jdbcType=DECIMAL},
      daishoushouxu_fee = #{record.daishoushouxuFee,jdbcType=DECIMAL},
      huidan_fee = #{record.huidanFee,jdbcType=DECIMAL},
      xinxifuwu_fee = #{record.xinxifuwuFee,jdbcType=DECIMAL},
      tongzhi_fee = #{record.tongzhiFee,jdbcType=DECIMAL},
      gaidan_fee = #{record.gaidanFee,jdbcType=DECIMAL},
      shanglou_fee = #{record.shanglouFee,jdbcType=DECIMAL},
      yunfeichongjian_fee = #{record.yunfeichongjianFee,jdbcType=DECIMAL},
      chache_fee = #{record.chacheFee,jdbcType=DECIMAL},
      huikou_fee = #{record.huikouFee,jdbcType=DECIMAL},
      zhongzhuan_fee = #{record.zhongzhuanFee,jdbcType=DECIMAL},
      qita_fee = #{record.qitaFee,jdbcType=DECIMAL},
      labao_fee = #{record.labaoFee,jdbcType=DECIMAL},
      khdaishou_fee = #{record.khdaishouFee,jdbcType=DECIMAL},
      fuwu_fee = #{record.fuwuFee,jdbcType=DECIMAL},
      baojia_fee = #{record.baojiaFee,jdbcType=DECIMAL},
      remark = #{record.remark,jdbcType=VARCHAR},
      op_user_id = #{record.opUserId,jdbcType=VARCHAR},
      op_user_name = #{record.opUserName,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=VARCHAR},
      creator_name = #{record.creatorName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ltc.bean.CRM_report_goodsData">
    update crm_report_goods
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="goodsYear != null">
        goods_year = #{goodsYear,jdbcType=INTEGER},
      </if>
      <if test="goodsMonth != null">
        goods_month = #{goodsMonth,jdbcType=INTEGER},
      </if>
      <if test="bigArea != null">
        big_area = #{bigArea,jdbcType=VARCHAR},
      </if>
      <if test="bigAreaName != null">
        big_area_name = #{bigAreaName,jdbcType=VARCHAR},
      </if>
      <if test="smallArea != null">
        small_area = #{smallArea,jdbcType=VARCHAR},
      </if>
      <if test="smallAreaName != null">
        small_area_name = #{smallAreaName,jdbcType=VARCHAR},
      </if>
      <if test="ticketOrgId != null">
        ticket_org_id = #{ticketOrgId,jdbcType=VARCHAR},
      </if>
      <if test="ticketOrgName != null">
        ticket_org_name = #{ticketOrgName,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="lastStation != null">
        last_station = #{lastStation,jdbcType=VARCHAR},
      </if>
      <if test="transferCity != null">
        transfer_city = #{transferCity,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="custType != null">
        cust_type = #{custType,jdbcType=VARCHAR},
      </if>
      <if test="custGrade != null">
        cust_grade = #{custGrade,jdbcType=VARCHAR},
      </if>
      <if test="countOrder != null">
        count_order = #{countOrder,jdbcType=INTEGER},
      </if>
      <if test="countNumber != null">
        count_number = #{countNumber,jdbcType=INTEGER},
      </if>
      <if test="goodsWeight != null">
        goods_weight = #{goodsWeight,jdbcType=DECIMAL},
      </if>
      <if test="goodsCube != null">
        goods_cube = #{goodsCube,jdbcType=DECIMAL},
      </if>
      <if test="freightTotal != null">
        freight_total = #{freightTotal,jdbcType=DECIMAL},
      </if>
      <if test="sumTotal != null">
        sum_total = #{sumTotal,jdbcType=DECIMAL},
      </if>
      <if test="incrementFee != null">
        increment_fee = #{incrementFee,jdbcType=DECIMAL},
      </if>
      <if test="tibaoFee != null">
        tibao_fee = #{tibaoFee,jdbcType=DECIMAL},
      </if>
      <if test="jiehuoFee != null">
        jiehuo_fee = #{jiehuoFee,jdbcType=DECIMAL},
      </if>
      <if test="songhuoFee != null">
        songhuo_fee = #{songhuoFee,jdbcType=DECIMAL},
      </if>
      <if test="daishouFee != null">
        daishou_fee = #{daishouFee,jdbcType=DECIMAL},
      </if>
      <if test="daishoushouxuFee != null">
        daishoushouxu_fee = #{daishoushouxuFee,jdbcType=DECIMAL},
      </if>
      <if test="huidanFee != null">
        huidan_fee = #{huidanFee,jdbcType=DECIMAL},
      </if>
      <if test="xinxifuwuFee != null">
        xinxifuwu_fee = #{xinxifuwuFee,jdbcType=DECIMAL},
      </if>
      <if test="tongzhiFee != null">
        tongzhi_fee = #{tongzhiFee,jdbcType=DECIMAL},
      </if>
      <if test="gaidanFee != null">
        gaidan_fee = #{gaidanFee,jdbcType=DECIMAL},
      </if>
      <if test="shanglouFee != null">
        shanglou_fee = #{shanglouFee,jdbcType=DECIMAL},
      </if>
      <if test="yunfeichongjianFee != null">
        yunfeichongjian_fee = #{yunfeichongjianFee,jdbcType=DECIMAL},
      </if>
      <if test="chacheFee != null">
        chache_fee = #{chacheFee,jdbcType=DECIMAL},
      </if>
      <if test="huikouFee != null">
        huikou_fee = #{huikouFee,jdbcType=DECIMAL},
      </if>
      <if test="zhongzhuanFee != null">
        zhongzhuan_fee = #{zhongzhuanFee,jdbcType=DECIMAL},
      </if>
      <if test="qitaFee != null">
        qita_fee = #{qitaFee,jdbcType=DECIMAL},
      </if>
      <if test="labaoFee != null">
        labao_fee = #{labaoFee,jdbcType=DECIMAL},
      </if>
      <if test="khdaishouFee != null">
        khdaishou_fee = #{khdaishouFee,jdbcType=DECIMAL},
      </if>
      <if test="fuwuFee != null">
        fuwu_fee = #{fuwuFee,jdbcType=DECIMAL},
      </if>
      <if test="baojiaFee != null">
        baojia_fee = #{baojiaFee,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="opUserId != null">
        op_user_id = #{opUserId,jdbcType=VARCHAR},
      </if>
      <if test="opUserName != null">
        op_user_name = #{opUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null">
        creator_name = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where customer_id = #{customerId,jdbcType=VARCHAR}
      and customer_order_type = #{customerOrderType,jdbcType=CHAR}
      and goods_day = #{goodsDay,jdbcType=DATE}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ltc.bean.CRM_report_goodsData">
    update crm_report_goods
    set order_id = #{orderId,jdbcType=VARCHAR},
      goods_year = #{goodsYear,jdbcType=INTEGER},
      goods_month = #{goodsMonth,jdbcType=INTEGER},
      big_area = #{bigArea,jdbcType=VARCHAR},
      big_area_name = #{bigAreaName,jdbcType=VARCHAR},
      small_area = #{smallArea,jdbcType=VARCHAR},
      small_area_name = #{smallAreaName,jdbcType=VARCHAR},
      ticket_org_id = #{ticketOrgId,jdbcType=VARCHAR},
      ticket_org_name = #{ticketOrgName,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      last_station = #{lastStation,jdbcType=VARCHAR},
      transfer_city = #{transferCity,jdbcType=VARCHAR},
      product_type = #{productType,jdbcType=VARCHAR},
      cust_type = #{custType,jdbcType=VARCHAR},
      cust_grade = #{custGrade,jdbcType=VARCHAR},
      count_order = #{countOrder,jdbcType=INTEGER},
      count_number = #{countNumber,jdbcType=INTEGER},
      goods_weight = #{goodsWeight,jdbcType=DECIMAL},
      goods_cube = #{goodsCube,jdbcType=DECIMAL},
      freight_total = #{freightTotal,jdbcType=DECIMAL},
      sum_total = #{sumTotal,jdbcType=DECIMAL},
      increment_fee = #{incrementFee,jdbcType=DECIMAL},
      tibao_fee = #{tibaoFee,jdbcType=DECIMAL},
      jiehuo_fee = #{jiehuoFee,jdbcType=DECIMAL},
      songhuo_fee = #{songhuoFee,jdbcType=DECIMAL},
      daishou_fee = #{daishouFee,jdbcType=DECIMAL},
      daishoushouxu_fee = #{daishoushouxuFee,jdbcType=DECIMAL},
      huidan_fee = #{huidanFee,jdbcType=DECIMAL},
      xinxifuwu_fee = #{xinxifuwuFee,jdbcType=DECIMAL},
      tongzhi_fee = #{tongzhiFee,jdbcType=DECIMAL},
      gaidan_fee = #{gaidanFee,jdbcType=DECIMAL},
      shanglou_fee = #{shanglouFee,jdbcType=DECIMAL},
      yunfeichongjian_fee = #{yunfeichongjianFee,jdbcType=DECIMAL},
      chache_fee = #{chacheFee,jdbcType=DECIMAL},
      huikou_fee = #{huikouFee,jdbcType=DECIMAL},
      zhongzhuan_fee = #{zhongzhuanFee,jdbcType=DECIMAL},
      qita_fee = #{qitaFee,jdbcType=DECIMAL},
      labao_fee = #{labaoFee,jdbcType=DECIMAL},
      khdaishou_fee = #{khdaishouFee,jdbcType=DECIMAL},
      fuwu_fee = #{fuwuFee,jdbcType=DECIMAL},
      baojia_fee = #{baojiaFee,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      op_user_id = #{opUserId,jdbcType=VARCHAR},
      op_user_name = #{opUserName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where customer_id = #{customerId,jdbcType=VARCHAR}
      and customer_order_type = #{customerOrderType,jdbcType=CHAR}
      and goods_day = #{goodsDay,jdbcType=DATE}
  </update>
</mapper>